# First ignore everything
*
*~

# Then un-ignore specific directories and their contents
!.gitignore
!update_emacs_config.sh
!init.el
!early-init.el
!modules/
!modules/**
!modules/configs/
!modules/configs/setup/**
!modules/configs/utilities/**
!modules/configs/downloaded_packages/**
!modules/my-*.el

# Still ignore these patterns even in tracked directories
*.el~
*#*
.#*
*#
transient/
history.el
weetjes.txt
**/BAK/
